<meta charset="utf-8">

<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

  <div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  		<a class="navbar-brand" href="#" th:href="@{/}"><b>Euro Parts</b>
        	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
  		</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item p-1 border">
        <a class="nav-link btn btn-outline-primary my-2 my-sm-0" th:href="@{/new}">Dodaj novi</a>
      </li>
      <li class="nav-item p-1 border">
        <a class="nav-link btn btn-outline-warning my-2 my-sm-0" th:href="@{/listall}">Lista autodijelova</a>
      </li>
      <li class="nav-item dropdown p-1 border">
        <a class="nav-link dropdown-toggle btn btn-outline-primary my-2 my-sm-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Akcija
        </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/akcija1}">Akcija 1</a>
          <a class="dropdown-item" th:href="@{/akcija2}">Akcija 2</a>
          <a class="dropdown-item" th:href="@{/akcija3}">Akcija 3</a>
      </div>
     </li>
   </ul>
      	<form class="form-inline my-1 my-lg-0 navbar-brand" th:action="@{/show}" th:object="${parts}" method="post">
      		<input class="form-control mr-sm-2" th:field="*{sifra}" type="search" placeholder="Search" aria-label="Search">
      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretraga po šifri</button>
    	</form>
  </div>
</nav>
</div>
</header>
