<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parts List</title>
        <meta charset="utf-8">
        <style>.padd {padding-top: 80px;}</style>
</head>
<body class="padd">
<div layout:fragment="content" class="container bg-light">

  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
    <table border="1" cellpadding="2" class="table-striped">
        <thead>
            <tr>
                <th scope="col">Grupa</th>
                <th scope="col">Naziv</th>
                <th scope="col">Marka</th>
                <th scope="col">Automobil</th>
                <th scope="col">Model Auta</th>
                <th scope="col">Godina</th>
                <th scope="col">Količina</th>
                <th scope="col">Cijena</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="product : ${listParts}">
                <td th:text="${product.grupa}">Group</td>
                <td th:text="${product.naziv}">Name</td>
                <td th:text="${product.marka}">Brand</td>
                <td th:text="${product.automobil}">Car</td>
                <td th:text="${product.modelauta}">Model</td>
                <td th:text="${product.godina}">Year</td>
                <td th:text="${product.kolicina}">Quantity</td>
                <td th:text="${product.cijena}">Price</td>
                <td>
                	<a class="btn btn-success" th:href="@{'/buysell/' + ${product.sifra}}">Kupi / Prodaj</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/edit/' + ${product.sifra}}">Izmjeni</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/delete/' + ${product.sifra}}">Poništi</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>   
</div>

</body>
</html>
 
