<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Home Page</title>
        <meta charset="utf-8">
        <style>.padd {padding-top: 80px;}</style>
</head>
<body class="padd">
<div layout:fragment="content" class="container">

<div class="container">
  <div class="row">
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-secondary btn-block" href="#" th:href="@{'/listgroup/' + 'Amortizer'}"><b>Amortizeri</b></a>
    </div>
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-primary btn-block" href="#" th:href="@{'/listgroup/' + 'Trap'}"><b>Trap automobila</b></a>
    </div>
  </div>
  <div class="row">
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-primary btn-block" href="#"><b>Kočioni program</b></a>
    </div>
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-secondary btn-block" href="#"><b>Kaišni prenos</b></a>
    </div>
  </div>
  <div class="row">
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-secondary btn-block" href="#"><b>Kvačilo</b></a>
    </div>
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-primary btn-block" href="#"><b>Filteri</b></a>
    </div>
  </div>
  <div class="row">
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-primary btn-block" href="#"><b>Ulja</b></a>
    </div>
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-secondary btn-block" href="#"><b>Dijelovi motora</b></a>
    </div>
  </div>
  <div class="row">
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-secondary btn-block" href="#"><b>Elektrika i Elektronika</b></a>
    </div>
    <div class="col p-2 border bg-light">
        <a class="btn btn-outline-primary btn-block" href="#"><b>Ventilacija i Hlađenje</b></a>
    </div>
  </div>
</div>
</div>
</body>
</html>